.darkmode {
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  & svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: var(--darkgray);
    transition: opacity 0.1s ease;
  }
}

:root[saved-theme="dark"] {
  color-scheme: dark;
}

:root[saved-theme="light"] {
  color-scheme: light;
}

:root[saved-theme="dark"] .darkmode {
  & > .dayIcon {
    display: none;
  }
  & > .nightIcon {
    display: inline;
  }
}

:root .darkmode {
  & > .dayIcon {
    display: inline;
  }
  & > .nightIcon {
    display: none;
  }
}
