.readermode {
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  & svg {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: var(--darkgray);
    transition: opacity 0.1s ease;
  }
}

:root[reader-mode="on"] {
  & .sidebar.left,
  & .sidebar.right {
    opacity: 0;
    transition: opacity 0.2s ease;

    &:hover {
      opacity: 1;
    }
  }
}
